@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@300;400;500;700&display=swap');
$regular: 400;
$medium: 500;
$bold: 700;

$smallFontSize: 1.03rem;
$bigFontSize: 2.1 * $smallFontSize;

$mainColor: #409CFF;
$mainLightColor: #EFEEFD;
$mainBackGroundColor: #F9FAFD;
$grayColor: #919191;

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: $regular;
	font-size: $smallFontSize;
	background-color: $mainBackGroundColor;
	margin: 20px 550px 20px 550px;
}

button {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	cursor: pointer;
	background-color: $mainColor;
	font-weight: $bold;
	color: $mainLightColor;

	:disabled {
		background-color: $grayColor;
		cursor: not-allowed;
	}

}



.buttonWrapper {
	display: flex;
	justify-content: right;
	margin-top: 30px;
}

.canvasWrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}